<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CimaAhorro</title>
</head>
<body>

    <nav>
        {% if user.is_authenticated %}
        <li>
            <a href="/panel">Panel</a>
        </li>
        <li>
            <a href="/salir">Cerrar Sesión</a>
        </li>
        {% else %}
        <li>
            <a href="/ingreso">Iniciar Sesión</a>
        </li>
        <li>
            <a href="/registro">Regístrarme</a>
        </li>
        {% endif %}
    </nav>


    {% if user.is_authenticated %}
    <nav class="nav nav-pills">
        {% if user.rol == 1%}
        <a class="nav-link active" aria-current="page" href="/abrir_tanda">Abrir Tanda</a>
        {% else %}
            .
        {% endif %}

        <a class="nav-link active" aria-current="page" href="/simulador_prestamo">Simulador de Préstamo</a>
        <a class="nav-link active" aria-current="page" href="/solicitud_prestamo">Solicitud de Préstamo</a>
      </nav>
      {% endif %}


    {% block content %}
    {% endblock %}
</body>
</html>