{% extends 'base.html' %}

{% block content %}
  <h2>Mis préstamos aprobados</h2>
  <table>
    <thead>
      <tr>
        <th>ID Préstamo</th>
        <th>Matricula</th>
        <th>Monto Solicitado</th>
        <th>Monto a Pagar</th>
        <th>Duración (Semanas)</th>
        <th>Fecha de Aceptación</th>
        <th>Acciones</th>
        <th>Abonar</th>
        <th>Historial de Pagos</th>
      </tr>
    </thead>
    <tbody>
      {% for prestamo in prestamos %}
        <tr>
          <td>{{ prestamo.0 }}</td>
          <td>{{ prestamo.2 }}</td>
          <td>{{ prestamo.3 }}</td>
          <td>{{ prestamo.5 }}</td>
          <td>{{ prestamo.4 }}</td>
          <td>{{ prestamo.8 }}</td>
          <td>
            {% if not prestamo.7 %}
              <form method="post">
                {% csrf_token %}
                <button type="submit" name="liberar_recursos" value="{{ prestamo.0 }}">Liberar recursos</button>
              </form>
            {% else %}
              Recurso liberado el: {{ prestamo.9 }}
            {% endif %}
          </td>
          <td>
            <a href="{% url 'abonar' prestamo.0 %}">Abonar</a>
          </td>
          <td>
            <a href="{% url 'historial_pagos' prestamo.0 %}">Ver Historial de Pagos</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9">No tienes préstamos aprobados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
